---
- name: Create a logical volume for /var/lib/containerd
  lvol:
    vg: "{{ VG_NAME }}"
    lv: VAR_LIB_CONTAINERD
    size: "{{ VAR_LIB_CONTAINERD_SIZE | default('10g') }}"
  tags: 
    - containerd-lvm

- name: mkfs.xfs VAR_LIB_CONTAINERD
  filesystem:
    fstype: xfs
    dev: /dev/mapper/{{ VG_NAME }}-VAR_LIB_CONTAINERD
  tags: 
    - containerd-lvm

- name: mount /var/lib/containerd
  mount:
    path: /var/lib/containerd
    src: /dev/mapper/{{ VG_NAME }}-VAR_LIB_CONTAINERD
    fstype: xfs
    state: mounted
  tags: 
    - containerd-lvm

- name: Create a logical volume for /var/lib/kubelet/
  lvol:
    vg: "{{ VG_NAME }}"
    lv: VAR_LIB_KUBELET
    size: "{{ VAR_LIB_KUBELET_SIZE | default('2g') }}"
  tags: 
    - k8s-kubelet-lvm

- name: mkfs.xfs VAR_LIB_KUBELET
  filesystem:
    fstype: xfs
    dev: /dev/mapper/{{ VG_NAME }}-VAR_LIB_KUBELET
  tags: 
    - k8s-kubelet-lvm

- name: mount /var/lib/kubelet/
  mount:
    path: /var/lib/kubelet
    src: /dev/mapper/{{ VG_NAME }}-VAR_LIB_KUBELET
    fstype: xfs
    state: mounted
  tags: 
    - k8s-kubelet-lvm

- name: Create a logical volume for /var/lib/kubelet/pods
  lvol:
    vg: "{{ VG_NAME }}"
    lv: VAR_LIB_KUBELET_PODS
    size: "{{ VAR_LIB_KUBELET_PODS_SIZE | default('10g') }}"
  tags: 
    - k8s-emptydir-lvm

- name: mkfs.xfs VAR_LIB_KUBELET_PODS
  filesystem:
    fstype: xfs
    dev: /dev/mapper/{{ VG_NAME }}-VAR_LIB_KUBELET_PODS
  tags: 
    - k8s-emptydir-lvm

- name: mount /var/lib/kubelet/pods
  mount:
    path: /var/lib/kubelet/pods
    src: /dev/mapper/{{ VG_NAME }}-VAR_LIB_KUBELET_PODS
    fstype: xfs
    state: mounted
  tags: 
    - k8s-emptydir-lvm

- name: resize /var/log
  lvol:
    vg: "{{ VG_NAME }}"
    lv: VAR_LOG
    size: "{{ VAR_LOG_SIZE | default('4g') }}"
    resizefs: true
  tags: 
    - k8s-varlog-lvm
