- name: include roles
  include_role:
    name: "{{ item }}"
  loop:
    - common
    - chronyd
    - logrotate

- name: include auth role
  include_role:
    name: auth
    apply:
      tags:
        - 'auth'
  vars:
    auth__sudo_admins: ['%grsadm', '%wwwadm']

- name: include postfix role
  include_role:
    name: postfix

- name: include zabbix-agent role
  include_role:
    name: zabbix-agent
    apply:
      tags:
        - 'zabbix-agent'
  vars:
    zabbixagent_base: True
    zabbixagent_ntp: True 

- name: include nagios role
  include_role:
    name: nagios
    apply:
      tags:
        - 'nagios'
 
- name: Add or modify both soft and hard nofile limits for wildcard domain
  pam_limits:
    domain: '*'
    limit_type: "-"
    limit_item: nofile
    value: 65536

# temporarily disable this task because it fails because of a bug https://github.com/kubernetes-sigs/kubespray/issues/10517
#- name: Put SELinux in permissive mode, logging actions that would be blocked.
#  selinux:
#    policy: targeted
#    state: permissive

- name: Set OS-specific variables for RedHat family
  set_fact:
    prepare_k8s_packages: "{{ prepare_k8s_packages_redhat + prepare_k8s_packages_common }}"
    prepare_k8s_iptables_config_path: "{{ prepare_k8s_iptables_config_path_redhat }}"
    prepare_k8s_ipset_config_path: "{{ prepare_k8s_ipset_config_path_redhat }}"
    prepare_k8s_iptables_service: "{{ prepare_k8s_iptables_service_redhat }}"
    prepare_k8s_ipset_service: "{{ prepare_k8s_ipset_service_redhat }}"
    prepare_k8s_firewall_package: "{{ prepare_k8s_firewall_package_redhat }}"
  when: ansible_facts['os_family'] == "RedHat"

- name: Set OS-specific variables for Debian family
  set_fact:
    prepare_k8s_packages: "{{ prepare_k8s_packages_debian + prepare_k8s_packages_common }}"
    prepare_k8s_iptables_config_path: "{{ prepare_k8s_iptables_config_path_debian }}"
    prepare_k8s_ipset_config_path: "{{ prepare_k8s_ipset_config_path_debian }}"
    prepare_k8s_iptables_service: "{{ prepare_k8s_iptables_service_debian }}"
    prepare_k8s_ipset_service: "{{ prepare_k8s_ipset_service_debian }}"
    prepare_k8s_firewall_package: "{{ prepare_k8s_firewall_package_debian }}"
  when: ansible_facts['os_family'] == "Debian"

- name: Ensure iptables directory exists (Debian/Ubuntu)
  file:
    path: /etc/iptables
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts['os_family'] == "Debian"

- name: remove firewall
  ansible.builtin.package:
    name: "{{ prepare_k8s_firewall_package }}"
    state: absent

- name: install required packages
  ansible.builtin.package:
    name: "{{ prepare_k8s_packages }}"
    state: present

- name: add custom sysctl
  template:
    src: "etc/sysctl.d/99-sysctl.conf.j2"
    dest: /etc/sysctl.d/99-sysctl.conf
    owner: root
    group: root
    force: yes
  tags: configure_servers

- name: apply sysctl
  shell: "/usr/sbin/sysctl --system >/dev/null"

- name: enable iptables service
  systemd:
    name: "{{ prepare_k8s_iptables_service }}"
    enabled: yes
  tags: configure_servers

- name: enable ipset service
  systemd:
    name: "{{ prepare_k8s_ipset_service }}"
    enabled: yes
  tags: configure_servers
  when: prepare_k8s_ipset_service | length > 0

- name: upload iptables config
  template:
    src: "etc/sysconfig/iptables.j2"
    dest: "{{ prepare_k8s_iptables_config_path }}"
    owner: root
    group: root
    mode: '0600'
    force: yes

- name: upload ipset config
  template:
    src: "etc/sysconfig/ipset.j2"
    dest: "{{ prepare_k8s_ipset_config_path }}"
    owner: root
    group: root
    mode: '0600'
    force: yes

- name: Restore and save ipset and iptables
  shell: |
    ipset restore -! < {{ prepare_k8s_ipset_config_path }}
    iptables-restore < {{ prepare_k8s_iptables_config_path }}
    ipset save > {{ prepare_k8s_ipset_config_path }}
    iptables-save > {{ prepare_k8s_iptables_config_path }}

- name: set no_proxy in /etc/environment
  lineinfile:
    path: /etc/environment
    regexp: "^{{ item }}"
    line: "{{ item }}={{ no_proxy }}"
    create: yes
  with_items:
    - "no_proxy"
    - "NO_PROXY"
