- name: Create a logical volume for /var/lib/rook
  lvol:
    vg: "{{ VG_NAME }}"
    lv: VAR_LIB_ROOK
    size: "{{ VAR_LIB_ROOK_SIZE | default('1g') }}"
  tags: k8s-rook-lvm

- name: mkfs.xfs VAR_LIB_ROOK
  filesystem:
    fstype: xfs
    dev: /dev/mapper/{{ VG_NAME }}-VAR_LIB_ROOK
  tags: k8s-rook-lvm

- name: mount /var/lib/rook
  mount:
    path: /var/lib/rook
    src: /dev/mapper/{{ VG_NAME }}-VAR_LIB_ROOK
    fstype: xfs
    state: mounted
  tags: k8s-rook-lvm
