---
- name: Check if required variables are set
  include_tasks: tasks/00_validate.yml

- name: Manage volumes
  include_tasks: tasks/01_manage_volumes.yml

- name: Configuring servers for use
  include_tasks: tasks/02_configuring_servers_for_use.yml 
  when: inventory_hostname in groups['k8s-nodes']
